%h1 You are viewing the full change history of #{ @nodes.hostname }


%table{:class => "table"}
  %thead
    %tr
      %th Author
      %th Date
      %th event
      %th Item Changed
      %th version
      %th Difference

  %tbody{:style => "text-align: center"}
    - @nodes.own_and_associated_audits.each do |rev|
      %tr

        %td=find_change_user(rev.user_id)
        %td=rev.created_at.in_time_zone('America/Chicago')
        %td=rev.action
        %td=rev.auditable_type
        %td=rev.version
