%h1 Changes

%table{:class => "table"}
  %thead{:style => "text-align: left; font-weight: bold"}
    %tr
      %th paramiter
      %th was
      %th changed to

  %tbody
    = @audit_gpio_show_change.each do |key, shit|
      %tr

        %td=key
        %td=shit[0]
        %td=shit[1]
