<div id="header-container">
  <%= form_tag(search_query_path, method: "post") do %>
  <span id="search_field">
    <%= text_field_tag(:search, nil, placeholder: "Search") %>
  </span>
  <% end %>
  <span id="user_info">
    <span>
      Yo
    </span>
    <span id="user_menu">
      <a>
        your email will go here, soon.
      </a>
      <ul>
        <li>logout link</li>
        <li>account settings link</li>
      </ul>
    </span>
  </span>
</div>
