.nested-fields
  = f.error_notification
  = f.input :lwchannel
  = f.input :notes, as: :string
  = link_to_remove_association "remove terminal", f, :data => { :confirm => "Are you sure you want to remove this input? This action cannot be undone!!" }
