/* Coloring */
$brand-color: #f16131;
$sidebar-header-color: rgba(#000000, 0.5);
$sidebar-color: rgba(#000000, 0.7);
$main-header-color: rgba(#ffffff, 1);
$main-color: rgba(#000000, 0.1);

/* UI Constants */
$navbar-height: 60px;
$sidebar-width: 19%;
