/* Coloring */
$brand-color: #f16131;
$sidebar-header-color: rgba(#000000, 0.5);
$sidebar-color: rgba(#000000, 0.7);
$main-header-color: rgba(#ffffff, 1);
$main-color: rgba(#000000, 0.1);
$link-color: rgba(#46076c, 0.98);

/* UI Constants */
$navbar-height: 60px;
$sidebar-width: 19%;

/* iPad Layout Sizes & colors*/
$sidebar-width-ipad: 0;
$sidebar-color-ipad: rgba(#494949, 1);
